::selection{
    background-color: #00adb5;
}

html, html{
    margin: 0;
    font: bold 14px 'Open Sans', arial, sans-serif;
    color: #eeeeee;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    background-color: #393e46;
    z-index: 1;
}

main{
    display: flex;
    color: #393e46;
}

h1{
    font-size: 2.5vw; 
    color: #00adb5;
}
img{
    padding: 5px;
}
li a{
    display: flex;
    flex-wrap: wrap;
    color:#eeeeee;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
}
li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    right: 0;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    background: #eeeeee00;
    transition: width ease-out 0.4s;
    width: 0;
  }
li a:hover:after { 
    background: #eeeeee;
    width: 100%; 
    right: 0; 
    height: 2px;
  }
ul{
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
    height: 100%;
    width: 100%;
}
li{
    padding: 10px;
    display: flex;
    align-items: center;
}
div#accueil{
    position: absolute;
    top: 0;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
}
div#biographie{
    position: absolute;
    top: 100vh;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}
div#competences{
    position: absolute;
    top: 200vh;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
}
div#realisations{
    position: absolute;
    top: 300vh;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}
div#commentaires{
    position: absolute;
    top: 200vh;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
}

.title{
    font-size: 2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 2em;
}

.contenu-biographie {
    display: flex;
    align-items: center;
    width: 90%;
    position: absolute;
}