html{
    margin: 0;
     font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: #393e46;
}

a{
    color:#00adb5;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    background: #fff;
    transition: width ease-out 0.4s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    right: 0; 
  }

ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    list-style: none; 
}
li{
    padding: 10px;
}


body{
    background-color: #222831;
    color: #00adb5;
    position: absolute;
    top: 110px;
    font-size: 20px;
    height: 100vh;
}

h1{
    font-size: 40px;
}